## 3/18 Games Prediction

In [38]:
import pandas as pd
import numpy as np
import sklearn
import torch.nn as nn
import sklearn.model_selection
from sklearn import linear_model
from sklearn.preprocessing import MinMaxScaler
import pickle
from sklearn.metrics import accuracy_score,f1_score
pd.set_option('display.max_columns', None)

In [39]:
df = pd.read_csv("2024_3_18.csv", index_col=0)

In [78]:
# Predictors chosen using sequential feature selector trained on ridge classifier
with open('predictors_ridge_classifier_2018-2024.txt', 'r') as f:
    predictors = f.read()
# Ridge classifier used no hyperparameter tuning yet
with open('ridge_classifier_2018-2024.pkl', 'rb') as f:
    model = pickle.load(f)

In [80]:
predictors

'usg%_x,ft%maxes_x,usg%_opp_x,usg%_3_x,usg%_opp_3_x,ast_5_x,usg%_5_x,fg_opp_5_x,blk%_opp_5_x,usg%_opp_5_x,fgamaxes_opp_5_x,usg%_10_x,usg%_opp_10_x,winrate_10_x,differential_10_x,usg%_15_x,usg%_opp_15_x,usg%_exp_5_x,usg%_opp_exp_5_x,FT/FGA_opp_exp_5_x,ast_exp_9_x,usg%_exp_9_x,usg%_opp_exp_9_x,stl%maxes_opp_exp_9_x,usg%_exp_12_x,stl_opp_exp_12_x,stl%_opp_exp_12_x,usg%_opp_exp_12_x,stl%maxes_opp_exp_12_x,home_next_x,usg%_y,usg%_opp_y,tovmaxes_opp_y,stl%maxes_opp_y,usg%_3_y,ft%maxes_3_y,usg%_opp_3_y,usg%_5_y,usg%_opp_5_y,ft%_10_y,usg%_10_y,usg%_opp_10_y,winrate_10_y,usg%_15_y,stl%_opp_15_y,usg%_opp_15_y,fgmaxes_opp_15_y,stlmaxes_opp_15_y,+/-maxes_opp_15_y,ft_opp_exp_5_y,'

In [81]:
predictors = predictors.split(',')[:-1]

In [70]:
X = df[predictors]
predictions = model.predict(X)
result = pd.Series(predictions, index = X.index)
final = pd.concat([df['Teams_x'], result], axis=1)
final.columns = ['Teams', 'Predictions']
final

   Teams  Predictions
0    CLE            0
1    IND            1
2    DET            0
3    BOS            1
4    MIA            0
5    PHI            1
6    POR            0
7    CHI            1
8    MIN            1
9    UTA            0
10   NYK            0
11   GSW            1
12   MEM            0
13   SAC            1
14   ATL            0
15   LAL            1

In [83]:
# 3/18 games actual results
final['Actual'] = [1,0,0,1,0,1,0,1,1,0,1,0,0,1,0,1]

In [76]:
final

   Teams  Predictions  Actual
0    CLE            0       1
1    IND            1       0
2    DET            0       0
3    BOS            1       1
4    MIA            0       0
5    PHI            1       1
6    POR            0       0
7    CHI            1       1
8    MIN            1       1
9    UTA            0       0
10   NYK            0       1
11   GSW            1       0
12   MEM            0       0
13   SAC            1       1
14   ATL            0       0
15   LAL            1       1

In [85]:
accuracy = accuracy_score(final['Actual'], final['Predictions'])
accuracy

0.75