In [1]:
import pandas as pd
#pd.reset_option('display.max_rows')

In [7]:
def process(df):
    df.reset_index(drop=True, inplace=True)
    df['Teams'] = df['TEAM_NAME_base'].map(mapping)
    del df['TEAM_NAME_base']
    return df

In [8]:
df['Date']

0        2018-10-16
1        2018-10-16
2        2018-10-16
3        2018-10-16
4        2018-10-17
            ...
33717    2024-04-04
33718    2024-04-04
33719    2024-04-04
33720    2024-04-04
33721    2024-04-04
Name: Date, Length: 33722, dtype: object

In [9]:
# Mapping to maintain uniform naming schemes across datasets
mapping = {'Brooklyn Nets': 'BRK', 'Golden State Warriors': 'GSW', 'Los Angeles Lakers': 'LAL',
       'Milwaukee Bucks': 'MIL', 'Boston Celtics': 'BOS', 'Charlotte Hornets': 'CHO',
       'Chicago Bulls': 'CHI', 'Cleveland Cavaliers': 'CLE', 'Denver Nuggets': 'DEN',
       'Detroit Pistons': 'DET', 'Houston Rockets': 'HOU', 'Indiana Pacers': 'IND',
       'Memphis Grizzlies': 'MEM', 'Minnesota Timberwolves': 'MIN',
       'New Orleans Pelicans': 'NOP', 'New York Knicks': 'NYK', 'Oklahoma City Thunder': 'OKC',
       'Orlando Magic': 'ORL', 'Philadelphia 76ers': 'PHI', 'Phoenix Suns': 'PHO',
       'Portland Trail Blazers': 'POR', 'Sacramento Kings': 'SAC', 'San Antonio Spurs': 'SAS',
       'Toronto Raptors': 'TOR', 'Utah Jazz': 'UTA', 'Washington Wizards': 'WAS',
       'Atlanta Hawks': 'ATL', 'Dallas Mavericks': 'DAL', 'LA Clippers': 'LAC', 'Miami Heat': 'MIA'}

In [10]:
save_path = '/Users/benjamincheng/Documents/GitHub/Sports-Betting/nba_api/data/teams_stats/'
#save_path = '/Users/liqingyang/Documents/GitHub/sports_trading/sports_betting/nba_api/data/teams_stats/'
file_name = 'processed_cumulative_season_stats_2019_2024.csv'
file_path = save_path + file_name
#### Parse dates are usually used to convert certain cols to datetime
df_1 = pd.read_csv(file_path, index_col=0, parse_dates=['Date'])
### Have to use mixed for format due to different formats in dates
df_1['Date'] = pd.to_datetime(df_1['Date'], format='mixed')

save_path = '/Users/benjamincheng/Documents/GitHub/Sports-Betting/nba_api/data/teams_stats/2023_2024/'
#save_path = '/Users/liqingyang/Documents/GitHub/sports_trading/sports_betting/nba_api/data/teams_stats/2023_2024/'
file_name = 'cumulative_season_stats_2023_2024.csv'
file_path = save_path + file_name

df_2 = pd.read_csv(file_path, index_col=0, parse_dates=['Date'])
df_2['Date'] = pd.to_datetime(df_2['Date'], format='mixed')

In [11]:
df_1.head()

,GP_base,W_base,L_base,W_PCT_base,MIN_base,FGM_base,FGA_base,FG_PCT_base,FG3M_base,FG3A_base,...,DEF_RATING_RANK_defense,DREB_RANK_defense,DREB_PCT_RANK_defense,STL_RANK_defense,BLK_RANK_defense,OPP_PTS_OFF_TOV_RANK_defense,OPP_PTS_2ND_CHANCE_RANK_defense,OPP_PTS_FB_RANK_defense,OPP_PTS_PAINT_RANK_defense,Teams
0,1,1,0,1.0,48.0,42,97,0.433,11,37,...,1,1,1,3,3,1,1,4,3,BOS
1,1,1,0,1.0,48.0,42,95,0.442,7,26,...,2,2,3,3,1,4,3,2,1,GSW
2,1,0,1,0.0,48.0,33,91,0.363,10,37,...,4,4,4,1,2,3,4,3,4,OKC
3,1,0,1,0.0,48.0,34,87,0.391,5,26,...,3,2,2,2,3,2,2,1,1,PHI
4,1,0,1,0.0,48.0,41,90,0.456,10,36,...,19,9,16,12,20,26,22,10,12,ATL

In [12]:
df_2['Date'].max()

Timestamp('2024-04-04 00:00:00')

### Combining with the Most Recent Data

- Selecting the latest date and earlier date in df_1 and df_2 and concat them

In [198]:
latest = df_1['Date'].max() # Getting the last day in prev version
df_2 = df_2[df_2['Date'] > latest]
df_2 = df_2[df_2['Date'] != '2024-04-04'] # this needs to be updated
df_2 = process(df_2)
nba = pd.concat([df_1,df_2], axis=0, ignore_index=True)
nba = nba.reset_index(drop=True)

In [199]:
nba.shape == nba.drop_duplicates().shape

True

In [201]:
nba['Date']

0       2018-10-16
1       2018-10-16
2       2018-10-16
3       2018-10-16
4       2018-10-17
           ...
33687   2024-04-03
33688   2024-04-03
33689   2024-04-03
33690   2024-04-03
33691   2024-04-03
Name: Date, Length: 33692, dtype: datetime64[ns]

In [203]:
nba['Teams'].unique()

array(['BOS', 'GSW', 'OKC', 'PHI', 'ATL', 'BRK', 'CHO', 'CLE', 'DAL',
       'DEN', 'DET', 'HOU', 'IND', 'LAC', 'MEM', 'MIA', 'MIL', 'MIN',
       'NOP', 'NYK', 'ORL', 'PHO', 'SAC', 'SAS', 'TOR', 'UTA', 'CHI',
       'LAL', 'POR', 'WAS'], dtype=object)

In [204]:
save_path = '/Users/benjamincheng/Documents/GitHub/Sports-Betting/nba_api/data/teams_stats/'
nba.to_csv(save_path + 'processed_cum_2018_2024.csv')

In [205]:
save_path = '/Users/benjamincheng/Documents/GitHub/Sports-Betting/nba_api/data/teams_stats/'
df_2.to_csv(save_path + '2024_04_04.csv')