In [28]:
import pandas as pd
#pd.reset_option('display.max_rows')

In [29]:
def process(df):
    df.reset_index(drop=True, inplace=True)
    df['Teams'] = df['TEAM_NAME_base'].map(mapping)
    del df['TEAM_NAME_base']
    return df

In [30]:
df['Date']

0        2018-10-16
1        2018-10-16
2        2018-10-16
3        2018-10-16
4        2018-10-17
            ...
33717    2024-04-04
33718    2024-04-04
33719    2024-04-04
33720    2024-04-04
33721    2024-04-04
Name: Date, Length: 33722, dtype: object

In [31]:
# Mapping to maintain uniform naming schemes across datasets
mapping = {'Brooklyn Nets': 'BRK', 'Golden State Warriors': 'GSW', 'Los Angeles Lakers': 'LAL',
       'Milwaukee Bucks': 'MIL', 'Boston Celtics': 'BOS', 'Charlotte Hornets': 'CHO',
       'Chicago Bulls': 'CHI', 'Cleveland Cavaliers': 'CLE', 'Denver Nuggets': 'DEN',
       'Detroit Pistons': 'DET', 'Houston Rockets': 'HOU', 'Indiana Pacers': 'IND',
       'Memphis Grizzlies': 'MEM', 'Minnesota Timberwolves': 'MIN',
       'New Orleans Pelicans': 'NOP', 'New York Knicks': 'NYK', 'Oklahoma City Thunder': 'OKC',
       'Orlando Magic': 'ORL', 'Philadelphia 76ers': 'PHI', 'Phoenix Suns': 'PHO',
       'Portland Trail Blazers': 'POR', 'Sacramento Kings': 'SAC', 'San Antonio Spurs': 'SAS',
       'Toronto Raptors': 'TOR', 'Utah Jazz': 'UTA', 'Washington Wizards': 'WAS',
       'Atlanta Hawks': 'ATL', 'Dallas Mavericks': 'DAL', 'LA Clippers': 'LAC', 'Miami Heat': 'MIA'}

In [34]:
save_path = '/Users/benjamincheng/Documents/GitHub/Sports-Betting/nba_api/data/teams_stats/'
#save_path = '/Users/liqingyang/Documents/GitHub/sports_trading/sports_betting/nba_api/data/teams_stats/'
file_name = 'processed_cum_2018_2024.csv'
file_path = save_path + file_name
#### Parse dates are usually used to convert certain cols to datetime
df_1 = pd.read_csv(file_path, index_col=0, parse_dates=['Date'])
### Have to use mixed for format due to different formats in dates
df_1['Date'] = pd.to_datetime(df_1['Date'], format='mixed')

save_path = '/Users/benjamincheng/Documents/GitHub/Sports-Betting/nba_api/data/teams_stats/2023_2024/'
#save_path = '/Users/liqingyang/Documents/GitHub/sports_trading/sports_betting/nba_api/data/teams_stats/2023_2024/'
file_name = 'cumulative_season_stats_2023_2024.csv'
file_path = save_path + file_name

df_2 = pd.read_csv(file_path, index_col=0, parse_dates=['Date'])
df_2['Date'] = pd.to_datetime(df_2['Date'], format='mixed')

In [35]:
df_1['Date']

0       2018-10-16
1       2018-10-16
2       2018-10-16
3       2018-10-16
4       2018-10-17
           ...
33717   2024-04-04
33718   2024-04-04
33719   2024-04-04
33720   2024-04-04
33721   2024-04-04
Name: Date, Length: 33722, dtype: datetime64[ns]

In [36]:
df_2['Date'].max()

Timestamp('2024-04-06 00:00:00')

### Combining with the Most Recent Data

- Selecting the latest date and earlier date in df_1 and df_2 and concat them

In [37]:
latest = df_1['Date'].max() # Getting the last day in prev version
df_2 = df_2[df_2['Date'] > latest]
df_2 = df_2[df_2['Date'] != '2024-04-06'] # this needs to be updated
df_2 = process(df_2)
nba = pd.concat([df_1,df_2], axis=0, ignore_index=True)
nba = nba.reset_index(drop=True)

In [38]:
nba.shape == nba.drop_duplicates().shape

True

In [39]:
nba['Date']

0       2018-10-16
1       2018-10-16
2       2018-10-16
3       2018-10-16
4       2018-10-17
           ...
33747   2024-04-05
33748   2024-04-05
33749   2024-04-05
33750   2024-04-05
33751   2024-04-05
Name: Date, Length: 33752, dtype: datetime64[ns]

In [40]:
nba['Teams'].unique()

array(['BOS', 'GSW', 'OKC', 'PHI', 'ATL', 'BRK', 'CHO', 'CLE', 'DAL',
       'DEN', 'DET', 'HOU', 'IND', 'LAC', 'MEM', 'MIA', 'MIL', 'MIN',
       'NOP', 'NYK', 'ORL', 'PHO', 'SAC', 'SAS', 'TOR', 'UTA', 'CHI',
       'LAL', 'POR', 'WAS'], dtype=object)

In [41]:
save_path = '/Users/benjamincheng/Documents/GitHub/Sports-Betting/nba_api/data/teams_stats/'
nba.to_csv(save_path + 'processed_cum_2018_2024.csv')